body {
    background-color: #000; /* Change background color if needed */
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Hide any overflow from the body */
}

/* Use CSS flex to center the content both horizontally and vertically */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Set the background image to cover the entire body */
body {
    background-color: #000; 
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
}

.container {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.centered-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin: 20px; 
    color: #fff; 
    max-width: 80%; 
}


img {
   
    width: 100vw;
    height: auto;
}

#play-button {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1; 
}
