body {
    background-color: #000; /* Change background color if needed */
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Hide any overflow from the body */
}

.container {
    position: relative; /* Position the container relatively */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered-text {
    margin: 20px; /* Add space around the text */
    color: #fff; /* Text color */
    max-width: 80%; /* Limit text width for readability */
    text-align: center; /* Center text horizontally */
}

img {
    max-width: 100%;
    height: auto; /* Maintain image aspect ratio */
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center image horizontally */
}

#play-button {
    margin-top: 20px; /* Add space between text and button */
    padding: 5px 15px; /* Thinner button */
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #000; /* Text color for button */
}
